# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
build
.turbo
.next
out

# Testing
coverage

# Environment variables
.env
.env.*
!.env.example

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log

# Turborepo
.turbo 
PRD.md


.vscode/claudesync.json
